---
import { themeConfig } from '@/config'
import IndexLayout from '@/layouts/IndexLayout.astro'
---

<IndexLayout title={`404 - ${themeConfig.site.title}`} description="Not Found">
  <style>
    .error-container {
      color: var(--text-secondary);
    }
  </style>
  <p class="error-container">Umm... looks like there's no page here.</p>
</IndexLayout>
