---
import IndexLayout from '@/layouts/IndexLayout.astro'
import About from '@/components/widgets/About.astro'
import PostList from '@/components/widgets/PostList.astro'
import { themeConfig } from '@/config'
import { getSortedFilteredPosts } from '@/utils/draft'

// TODO: On clicking the Resume, the URL in the address bar says: `http://localhost:4321/public/pdf/resume-kartikey-sharma-20250715.pdf`
// which we probably want to be different.

const posts = await getSortedFilteredPosts()
---

<IndexLayout title={themeConfig.site.title} description={themeConfig.site.description}>
  <About />
  <main>
    <PostList posts={posts} />
  </main>
</IndexLayout>
